@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}
input,
textarea,
select {
  @apply text-gray-200 bg-slate-800 border-0 rounded-sm px-1 w-full py-2 px-3;
  @apply mb-2;
}
input:focus,
textarea:focus,
select:focus {
  @apply border border-fuchsia-600 outline-0;
}
p.form-error {
  @apply text-red-500  mb-3 font-semibold;
}

h1 {
  /* @apply text-gray-800 mb-4 text-xl; */
  @apply text-gray-200 mb-4 text-xl;
}
h2 {
  /* @apply text-gray-800 mt-6 mb-2 text-lg; */
  @apply text-gray-200 mt-6 mb-2 text-lg;
}
label {
  /* @apply text-gray-600 text-sm; */
  @apply text-gray-300 text-sm font-semibold py-1;
}
.btn-primary {
  /* @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm; */
  @apply bg-violet-700  hover:bg-violet-900  text-white font-semibold px-4 py-1 rounded-sm shadow-sm;
}
table.basic {
  /* @apply w-full bg-white rounded-sm shadow-md; */
  @apply w-full bg-gray-800/70 border border-fuchsia-600 rounded-md shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-200 uppercase border-b border-fuchsia-600 px-4 py-2;
}
table.basic tr td {
  @apply text-gray-200  px-4 py-1;
}

table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}
.btn-red {
  @apply bg-rose-700 text-white font-semibold px-4 py-1 rounded-sm shadow-sm;
}
.btn-default {
  @apply bg-blue-700 text-white font-semibold px-4 py-1 rounded-sm  shadow-sm;
}
